<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>Balony</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>false</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleExecutable</key>
    <string>universalJavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleIconFile</key>
    <string>balloon.icns</string>
    <key>JavaX</key>
    <dict>
      <key>MainClass</key>
      <string>balony.main</string>
      <key>JVMVersion</key>
      <string>1.8+</string>
      <key>ClassPath</key>
      <array>
        <string>$JAVAROOT/1536 RePad 300 dpi.preset</string>
        <string>$JAVAROOT/1536 RePad 600 dpi.preset</string>
        <string>$JAVAROOT/384 RePad 300 dpi.preset</string>
        <string>$JAVAROOT/6144 RePad 600 dpi.preset</string>
        <string>$JAVAROOT/Balony-manual.docx</string>
        <string>$JAVAROOT/Balony-manual.pdf</string>
        <string>$JAVAROOT/Loewen Lab 1536 RePad 300 dpi.preset</string>
        <string>$JAVAROOT/SGD_features.tab</string>
        <string>$JAVAROOT/Tetrad 9x9.preset</string>
        <string>$JAVAROOT/UBC-1536.key</string>
        <string>$JAVAROOT/prefs.xml</string>
        <string>$JAVAROOT/Balony.jar</string>
      </array>
      <key>VMOptions</key>
      <string>-Xmx2048M</string>
      <key>WorkingDirectory</key>
      <string>$APP_PACKAGE/Contents/Resources/Java/</string>
    </dict>
  </dict>
</plist>
